mixin storeForm(store = {})
  form(action=`/add/${store._id || ''}` method="POST" class="card")
    label(for="name") Name
    input(type="text" name="name" id="name" value=store.name)
    label(for="description") Description
    textarea(type="text" name="description" id="description") #{store.description}
    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed', 'another'];
    - const tags = store.tags || [];
    ul.tags
      each choice in choices
        li.tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    input(type="submit" value="Save ⏭" class="button")